<!DOCTYPE html>
<html>
<head>
  <title>ActsAsRelatingTo</title>
  <%= stylesheet_link_tag    "acts_as_relating_to/application", media: "all" %>
  <%= javascript_include_tag "acts_as_relating_to/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
